body {
    margin:0;
    padding: 0;
    max-height: 400px;
}

.container {
   /* width: 100%; */
    background: pink;
    border-radius: 20px; 
    padding: 30px 40px;
    border: 5px solid purple; 
    border-radius: 20px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: #ffffff;
    cursor: pointer;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

li {
    list-style: none;
}
.top_header {
    display: flex;
    justify-content:space-evenly;
    padding: 0 20px;
}
.logo > img {
    padding-right: 4em;
}
.navigation {
    display: flex;
    margin-left: 20em;
}
.nav_items {
    padding-left: 3em;
}
hr {
    border:1px solid purple;
}
.btn_link {
    background-color: purple;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #ffffff;
    border-radius: 10px;
    padding: 15px 30px;
    border:none;
    margin-top:3px;
}
.about_text {
    display: flex;
    justify-content:space-between;
}
.about_text h1 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
}
.about_text p {
    letter-spacing:1px;
}
.about_text_header {
    margin-left:5em;
    margin-top:5em;
}
.btn_top {
    margin-top:2em;
}
.image_side > img {
    margin-right: 8em;
    margin-top: 3em;
}
.image_text h2 {
    text-align: center;
    font-size: 60px;
    color: purple;
    font-family: 'Raleway',sans-serif;
}
.image_wrapper {
    display:flex;
    justify-content:space-evenly;
}
.image_wrapper p {
    text-align: center;
}

@media screen and (max-width:768px) {
    .container {
        background:white;
        padding-top: 40px;
        font-family: cursive;
    }
    .navigation{
    display: none;
    }
    .image_side {
        display:none;
    }
    .image_wrapper {
        display:block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .image_wrapper p {
    text-align:center;
    }


}